body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(120deg, #3498db, #9b59b6);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}
img.yuvarlak {
    border-radius: 50%;
    width: 100px;
} 
h1 {
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}
h2 {
    color: #fff;
    margin-bottom: 10px;
    font-weight: 300;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    margin: 10px 0;
    font-size: 18px;
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
li:hover {
    transform: scale(1.05);
}
button {
    background-color: #8e44ad;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover {
    background-color: #9b59b6;
}
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ddd;
}